/*style.css is organized first by HTML tags and is followed
by classes. */

body {
  width: 960px;
  height: 845px;
  font-family: Georgia, Times, "Times New Roman",serif;
  margin: 0px 0px 0px 0px;
}

h2 {
  color: #4aaaa5;
  font-size: 22px;
  font-weight: bold;
}

h3 {
  color: #4aaaa5;
  float: center;
  font-weight: bold;
}

a {
  text-decoration: none; 
  color: #777777;
}

p {
  color:#777777;
  word-spacing: 2px;
}

footer {
  background-color: #666666;
  height:100px;
  border-top: 10px solid #4aaaa5;
  position: absolute;
  width: 960px;
}

footer p {
    display: table;
    text-align: center;
    color: white;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

button{
  background-color: #4aaaa5;
  color: #f0f0f0;
  font-size: 18px;
  border: none;
}

form{
  text-align: left;
  color: #777777;
}

a:hover{
  background-color: #4aaaa5;
}

/*static on each page*/
.container {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  background-color: #f0f0f0;

}

.left-side {
  width: 500px;
  height: auto;
  background-color: #ffffff;
  margin: 25px 20px 0px 55px;
  padding: 30px 20px 30px 20px;
  float: left;
  border: 1px solid #ededed;
}

.right-side {
  width: 200px;
  background-color: #ffffff;
  margin: 25px 55px 0px 20px;
  padding: 20px;
  text-align: center;
  float: right;
  border: 1px solid #ededed;
}

.socialBtn {
  float: left;
  width: 25%;
  display: inline;
  margin-right: auto;
  margin-left: 12px;
  height: 50px;
}

.hr-left {
  width: 100%;
  margin-bottom: 5px;
}

.hr-right {
  width: 100%;
  margin-bottom: 5px;

}

/*Header classes*/

.header-container {
  background-color: white;
  width: 960px;
  height: 75px;
  border-bottom: 2px solid #cccccc;
  margin: 0;
  padding: 2px 0px 0px 0px;
}

.nav-item-list{
  float: right;
  padding: 35px 55px 35px 0px;
  text-decoration: none;
}

.nav-item {
  float: right;
  margin-right: 10px;
  text-decoration: none;
}

.nav-item-bar{
  color: #e5e5e5;
}

.name{
  float: left;
  background-color: #4aaaa5; 
  text-align: center;
  color: white;
  height: 45px;
  margin-left: 55px;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 24px;
  font-weight: bold;
}


/*index.html specific*/
.profilePhoto {
  float: left;
  padding: 0px 5px 5px 5px;
  margin: 0px 10px 10px 10px; 

}

.left-side-paragraph {
  line-height: 1.5; 
}

/*contact.html specific*/
.form-box {
  width: 100%;
  margin: 10px 0px;
  text-align: left;
  color: #777777;
}

/*portfolio.html specific*/

.gallery{
  width: 100%;
}

.banner{
  background-color: #4aaaa5;
  position: relative;
  bottom: 70px;
  width: 100%;
  height: 40px;
  z-index: 1;
  text-align: center;
  color: white;
  padding-top: 10px;
}

.img-container{
  float: left;
  width: 45%;
  height: 150px;
  margin: 20px 10px;

}

